@import "./base.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#app {
  max-width: 100%;
  padding: 0 2rem; /* Padding for left and right */
  width: 100%;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;

    padding: 0; /* Removed excessive padding */
    width: 100%;
  }
}
